# Dependencies
node_modules/

# Logs
*.log

# Build folders
dist/
build/

# System files
.DS_Store
Thumbs.db

# Temp files
*.tmp
*.swp

# Environment variables
.env

# Unity (voor als je ooit Unity/AR Foundation erbij probeert)
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
